h1 {
    font-size: 36pt
}
_coklat {
    color: rgb(131, 40, 40);
}

_coklat {
    color:rgb(212, 121, 61)
}

#pertama
#kedua
marquee {
    font-family: 'Times New Roman', Helvetica, sans-serif;
}
